{% extends "base.html" %}

{% block title %}Liste des Livres{% endblock %}

{% block content %}
    <h2>Liste des Livres</h2>
    <ul>
        {% for book in books %}
            <li>
            <a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a>
            {% comment %} Supprimer {% endcomment %}
            <a style="color : red" href="{% url 'books:delete_book' book.id %}">Supprimer</a>
            <!-- Mettre à jour un auteur -->
            <a style="color : green" href="{% url 'books:update_book' book.id %}">Modifier</a>
           </li>
        {% endfor %}
    </ul>
    <a href="{% url 'books:add_book' %}">Ajouter un livre</a>
{% endblock %}
